* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.conteudo-inteiro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.imagem img {
    height: 45rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 24rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.group p {
    margin: 5px 5px;
}
.group a {
    margin: 5px 5px;
}

.group img {
    margin-bottom: 20px;
}

.login {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    border: 1pt solid rgb(184, 181, 181);
    width: 70%;
    background-color: rgb(245, 242, 242);
}

.group button {
    color: #fff;
    background-color: rgb(106, 158, 214);
    border: 0;
    font-weight: 700;
    margin-bottom: 10px;
}

#login-facebook {
    color: #3b5998;
    font-weight: 700;
    cursor: pointer;
}

.instagram-signup {
    color: #0095f6;
    font-weight: 600;
}

.or {
    display: flex;
    align-items: center;
}

.or-lines{
    border-left: 130px solid rgb(202, 201, 201);
    width: 100%;
    height: 1px;
} 

.group2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download-option {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.download-option:nth-child(1){
    background-image: url("./img/apple-button.png");
}

.download-option:nth-child(2) {
    background-image: url("./img/googleplay-button.png");
}

@media (max-width: 1024px) {
    .conteudo-inteiro {
        width: 90%;
    }
}
@media (max-width: 650px) {

    .conteudo-inteiro {
        width: 90%;
    }

    .imagem {
        display: none;
    }

    .content {
        width: 100%;
    }

    .group {
        border: none;
    }

}

@media (max-width: 290px) {
    .download {
        flex-direction: column;
    }

}
